:root{
    --main-red:#d1021c;
    --main-gray: #FAFAFA;
    --dark-red: #7e2323;
    --main-blue: #12203E;
    --main-orange: #d6772a;
    --light-blue: #0077B4;;
    --dark-gray: #A3A0A0;
    --main-green: #034E23;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: Lato, sans-serif;
}
/*Empieza el header*/
header{
    height:65vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.blackBack{
    background-color:black;
}
.header-content{
    width:75%;
    height:80%;
    display:flex;
    justify-content: center;
}
#header-child-left{
    animation: 1s slideFromLeft ease-out
}
.header-child{
    flex:1.6;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-right:1%;
}


.header-child-right{
    flex:1;
    align-items: flex-start;
    padding: 0;
    animation: 1s drop ease-out;
}
.header-left-child{
    color: white;
    font-size: 4vmin;
    font-weight: 400;
    margin-bottom: 1%;
    opacity: 0.9;
}
.name{
    color: var(--main-red);
    font-size: 9.8vmin;
    font-family: Nunito, 'Segoe UI';
    font-weight: 800;
    line-height: 1;
    padding-bottom: 0.2em;
    opacity: 1;
    margin: 0;
}
.speciality1{
    font-style: italic;
}
.phone{
    margin-bottom: 0;
}
.email a{
 color: white;
}
.email a:hover{
    text-decoration: underline;
}

.icon{
    color: #A3A0A0;
}
.fa-phone{
    color: #A3A0A0;
}


.fa-linkedin:hover{
    color: var(--light-blue);
    opacity: 1;
    transition: all 0.2s ease-out;
}
.fa-file-pdf:hover{
    color: var(--main-red);
    opacity: 1;
    transition: all 0.2s ease-out;
}
.fa-github:hover{
    color: white;
    opacity: 1;
    transition: all 0.2s ease-out;
}
#profile-picture{
    width:40vmin;
    border-radius:100%;
    opacity: 0.9;
}
@media (max-width:790px){
    #profile-picture{
        width:35vmin;
    }
    .header-left-child{
        font-size: 3.6vmin;
    }
    .name{
        font-size: 9vmin;
    }
    
}
/*Termina el header*/
/*NavBar*/
#navBar{
    height:10vh;
    width:100%;
    z-index:1;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLinks{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.buttonContainer{
    padding: 0 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headButton{
    text-decoration:none;
    color: white;
    font-family:'Segoe UI',sans-serif;
    font-size:3.2vmin;
    font-weight:700;
    transition: opacity 0.3s ease;
    animation: 0.5s appear ease;
    opacity: 1;
}
.headButton:hover{
    color:var(--main-red);
    opacity: 1;
    transition: all 0.3s;
}
@media (max-width:790px){
    .headButton{
        font-size:2.9vmin;
    }  
}
/*Termina el NavBar*/
.allSec{
    background-color: var(--main-gray);
}
.anchor{
    height:10vh;
    margin-top:-10vh;
    visibility:hidden;
    background-color: var(--main-gray);
}
.card{
    width: 90%;
    background-color: white;
    margin: 0 auto 2% auto;
    box-shadow: 0 0.6vmin 2vmin 0.8vmin rgba(0,0,0,0.2);
    border-radius: 1vw;
}
@media (orientation: portrait)  {
    .card{
        width: 100%;
        border-radius: 0;
    }
}

.aboutCard{
    margin-top: 2%;
    animation: 1s slideFromBottom ease;
}

.sectionHeader{
    background-color: var(--main-blue);
    color: white;
    text-align: center;
    font-size: 5vmin;
    padding: 1% 0;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}
@media (orientation: portrait){
    .sectionHeader{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
.cardContent{
    padding: 2%;
    font-size: 3.2vmin;
}
.aboutContent{
    padding: 2% 4%;
    text-align: justify;
}
.bullet{
    color: var(--main-blue);
    padding-right: 1%;
}
.aboutPar{
   padding-bottom: 1.5%;

   line-height: 1.5;
   font-weight: 900;
}
.aboutPar3{
    padding-bottom: 0;
}
/*Educacion*/
.greenHeader{
    background-color: var(--main-green);
}
.educationContent{
    text-align: center;
    padding: 4% 1%;
}
.educationPlace1{
    padding-top: 1.5%;
}
.educationPlName{
    font-size: 5.2vmin;
    font-weight: 900;
}
.educationDescr{
    font-size: 3.9vmin;
    
}
/*Skills*/
.redHeader{
    background-color: var(--dark-red);
}
.skillsSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-auto-flow:column;
    margin: 0 7%;
    text-align: center;
}
@media (orientation:portrait){
    .skillsSection{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, auto);
        grid-auto-flow:column;
        margin: 0 1%;
    }
}
@media (max-width:1100px) and (orientation: landscape){
    .skillsSection{
        margin: 0 0.5%;
    }
}
.skillContainer{
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillsGroupTitle{
    font-size: 5.2vmin;
    color: var(--dark-red);
    font-weight: 900;
}
.skill{
    font-size: 3.9vmin;
    width: 50%;
    padding: 0 1%;
    font-weight: 700;
}

.barra{
    width: 30%;
    
}
    /*barritas*/
    progress {
        -webkit-appearance: none;
        width: 100%;
      }
      
      ::-webkit-progress-bar {
         background-color: #fafafa;
         color: white;
         border: 1px solid var(--dark-red);
      }
      ::-webkit-progress-value{
        background-color: var(--dark-red);
      
      }
    /*barritas*/
.skillsGroupTitle{
    text-align: center;
}
.languageContainer{
    text-align: center;
    padding: 1%;
}
.langTitle{
    font-size: 3.9vmin;
    font-weight: 700;
}
.langLevel{
    font-weight: 700;
    font-size: 3.2vmin;
}
/*Experiencia*/
.experienceContent{
    padding: 4% 1%;
}
.experiencePeriod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.positionName{
    font-size: 5.2vmin;
    font-weight: 900;
    color: var(--main-blue);
    padding-bottom: 0.5%;
}
.companyName{
    font-size: 3.9vmin;
    font-weight: 700;
    padding-bottom: 0.4%;
}
.descrExp{
    margin: 0 1%;
}

/*Extra*/
.extraContent{
    padding: 3% 2%;
}
.certSec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.extraSecTitle{
    text-align: center;
    font-size: 5.2vmin;
    color: var(--main-green);
    font-weight: 900;
    text-transform: uppercase;
}

.certContent{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);
    grid-auto-flow:column;
    margin: 2% 10%;
    column-gap: 3%;
}
@media (max-width: 900px) {
    .certContent{
        margin: 2% 2%;
        column-gap: 1%;
    }
}
.certName{
    padding: 3% 1%;
    font-size: 3.9vmin;
    font-weight: 700;
}
.certEntity{
    font-weight: 400;
}
.greenCol{
    color: var(--main-green)
}
.capSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.capContent{
    padding: 2% 0;
    padding-bottom: 0;
}
.capName{
    padding-bottom: 3%;
    font-size: 3.9vmin;
}
.last{
    padding-bottom: 0;
}
/*Animations*/
@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}
@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }

}
@keyframes slideFromRight {
    0%{
        opacity: 0;
        transform: translateX(+20%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }

}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.8;
    }

}


@keyframes slideFromBottom {
    0%{
        opacity: 0;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}
.transSlideFromLeft{
    animation: 2s slideFromLeft ease;
}
.transSlideFromRight{
    animation: 2s slideFromRight ease;
}
.transSlideFromBottom{
    animation: 1s slideFromBottom ease;
}
.trans{
    transition: opacity 2s ease;
}
.opac{
    opacity: 0.6;
    
}
.navBarOpac{
    opacity:0.8;
}
.redColor{
    color: var(--main-red);
}
.paddingTop{
    padding-top: 1.5%;
}
